# SUPABASE_URL: URL Proyek Supabase Anda
# Contoh: https://sjvpwiwqyyzmmxidoqrd.supabase.co
VITE_SUPABASE_URL="https://sjvpwiwqyyzmmxidoqrd.supabase.co"

# SUPABASE_ANON_KEY: Anonymous key (Public) dari Supabase Dashboard
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqdnB3aXdxeXl6bW14aWRvcXJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MzMxNjAsImV4cCI6MjA5MzMwOTE2MH0.Rfg9Q7NmLjfZDSGbqENhg1YsCD7LWNxbp7kr4C34YrA"
